In [54]:
import os

import pandas as pd
import numpy as np

In [28]:
os.chdir("/hdd_14T/data/PXD002952/20210614_dataset/diaumpire_spectral_lib_20210706/MSFragger_20210707/diann/msqrob_input")

In [29]:
os.listdir()

['msqrobsum_result_20210710.csv',
 'prot_set_before_MsnSet2df.csv',
 'msrobsum_results.rds',
 'pd.csv',
 'fd.csv',
 'expr.csv',
 'prot_set.csv']

In [44]:
prot_set = pd.read_csv("prot_set.csv", sep = "\t")

cleanup_protein = lambda x: "_".join(x.split("_")[:-1])
prot_set["proteins"] = prot_set.proteins.apply(cleanup_protein)

In [56]:
pd_ = pd.read_csv("pd.csv", sep = "\t")
fd_ = pd.read_csv("fd.csv", sep = "\t")
expr_ = pd.read_csv("expr.csv", sep = "\t")

In [58]:
pd_

       sample  condition
0  X002.Pedro          1
1  X003.Pedro          2
2  X004.Pedro          1
3  X005.Pedro          2
4  X006.Pedro          1
5  X007.Pedro          2

In [59]:
fd_

,peptide,proteins,human,yeas8,ecoli,decoy
0,AAAAAAAAAAGAAGGR,Q86U42_HUMAN_HUMAN,True,False,False,False
1,AAAAAAAAAPAAAATAPTTAATTAATAAQ,P37108_HUMAN_HUMAN,True,False,False,False
2,AAAAAAAGDSDSWDADAFSVEDPVRK,O75822_HUMAN_HUMAN,True,False,False,False
3,AAAAAAGAASGLPGPVAQGLK,Q96P70_HUMAN_HUMAN,True,False,False,False
4,AAAAAATAAAAASIR,Q8WVM8_HUMAN_HUMAN,True,False,False,False
...,...,...,...,...,...,...
40938,YYTVFDRDNNR,P07339_HUMAN_HUMAN,True,False,False,False
40939,YYVLNFPAR,DECOY_Q15181_HUMAN_HUMAN,True,False,False,True
40940,YYVLYLAPENPTGDTTPVGDPVGLGTGNFR,DECOY_P00956_ECOLI_ECOLI,False,False,True,True
40941,YYYIPQYK,Q8N183_HUMAN_HUMAN,True,False,False,False
40942,YYYKFIKCDADLLESR,DECOY_Q70Z53_HUMAN_HUMAN,True,False,False,True

In [60]:
expr_

,peptide,002-Pedro,003-Pedro,004-Pedro,005-Pedro,006-Pedro,007-Pedro
0,AAAAAAAAAAGAAGGR,791.8220,773.533,910.5200,860.9400,909.6580,923.2860
1,AAAAAAAAAPAAAATAPTTAATTAATAAQ,169.7770,723.141,269.8470,718.7880,803.3480,252.3470
2,AAAAAAAGDSDSWDADAFSVEDPVRK,216.5140,200.580,226.6460,196.2670,216.7590,193.5620
3,AAAAAAGAASGLPGPVAQGLK,591.6730,582.511,649.5620,658.9430,675.7810,664.4300
4,AAAAAATAAAAASIR,138.4530,389.873,112.0820,80.4108,62.0104,88.2555
...,...,...,...,...,...,...,...
40938,YYTVFDRDNNR,44.5069,39.281,46.7438,47.5044,49.4753,34.2502
40939,YYVLNFPAR,NaN,NaN,NaN,0.0000,0.0000,NaN
40940,YYVLYLAPENPTGDTTPVGDPVGLGTGNFR,NaN,0.000,NaN,NaN,NaN,NaN
40941,YYYIPQYK,308.4030,320.891,300.8690,289.7980,362.3970,338.1180
40942,YYYKFIKCDADLLESR,NaN,NaN,0.0000,NaN,0.0000,NaN

In [15]:
os.chdir("/hdd_14T/data/PXD002952/20210614_dataset/diaumpire_spectral_lib_20210706/MSFragger_20210707/diann_20210811")

In [16]:
os.listdir()

['report.tsv',
 'msstats_run.csv',
 'report.log.txt',
 'sessionInfo.txt',
 'triqler_results',
 'msrobsum_results_msqrobsum.rds',
 'msqrobsum_protein_sum_20210817.csv',
 'msqrobsum_result_20210930.csv',
 'report.stats.tsv',
 'msqrobsum_result.csv',
 'msqrobsum_protein_sum_20210930.csv',
 'msrobsum_results_msqrobsum_20210930.rds',
 'report.pg_matrix.tsv',
 'run_triqler.sh',
 'pd.csv',
 'report.pdf',
 'diann_msstats_input.csv',
 'fd.csv',
 'report.gg_matrix.tsv',
 'msstat_output_runleveldata.csv',
 'msstats-2.log',
 'report.unique_genes_matrix.tsv',
 'triqler_input_diann_searchScore_Qvalue.csv',
 'triqler_input_diann_searchScore_Qvalue.csv.pqr.tsv',
 'expr.csv',
 'msstats-1.log',
 'msstat_output_filtered.csv',
 'msstats.log',
 'report.pr_matrix.tsv']

In [17]:
df = pd.read_csv("msqrobsum_result_20210930.csv", sep  = "\t")

In [18]:
df

,proteins,contrast,logFC,sigma_contrast,se,t,pvalue,qvalue
0,Q86U42_HUMAN,condition2-condition1,-0.166180,7.999995e-01,3.928098e-02,-4.230551,0.006365,0.011128
1,P37108_HUMAN,condition2-condition1,-0.294261,7.949647e-01,6.440244e-02,-4.569091,0.004462,0.008235
2,O75822_HUMAN,condition2-condition1,-0.130885,7.990843e-01,3.544638e-02,-3.692466,0.011440,0.018249
3,Q96P70_HUMAN,condition2-condition1,-0.227627,7.948109e-01,5.268448e-02,-4.320571,0.005756,0.010201
4,Q8WVM8_HUMAN,condition2-condition1,-0.199078,8.115487e-01,3.299383e-02,-6.033795,0.001209,0.002714
...,...,...,...,...,...,...,...,...
3273,P0AE82_ECOLI,condition2-condition1,1.066762,1.131739e+00,1.689094e-01,6.315588,0.004476,0.008251
3274,P69829_ECOLI,condition2-condition1,1.842455,8.919395e-01,3.274713e-01,5.626309,0.003148,0.006113
3275,P13033_ECOLI,condition2-condition1,1.105284,1.150337e+00,8.669226e-02,12.749516,0.000408,0.001063
3276,Q9BYD2_HUMAN,condition2-condition1,0.000000,1.414214e-09,1.514163e-10,0.000000,1.000000,1.000000
3277,Q46871_ECOLI,condition2-condition1,1.532829,1.224673e+00,6.132173e-02,24.996509,0.000379,0.001002

In [19]:
df_old = pd.read_csv("msqrobsum_result.csv", sep = "\t")

In [32]:
df[df_old.logFC == 0].proteins

15      Q8NI27_HUMAN
22      Q9H0B3_HUMAN
28      Q8TC07_HUMAN
44      Q9NS69_HUMAN
69      Q9Y5Q8_HUMAN
            ...
3232    Q13427_HUMAN
3240    Q99757_HUMAN
3247    Q8TAA9_HUMAN
3271    Q8IWB7_HUMAN
3276    Q9BYD2_HUMAN
Name: proteins, Length: 360, dtype: object

In [46]:
zero_logFC_proteins = prot_set[prot_set.proteins.isin(df[df_old.logFC == 0].proteins)]

In [79]:
sample_per_protein = zero_logFC_proteins.groupby("proteins")["sample"].count()

In [83]:
sample_per_protein.value_counts()

6    289
5     43
4     11
3      4
1      3
2      1
Name: sample, dtype: int64

In [111]:
protein_in_all_samples = sample_per_protein[sample_per_protein == 6].index

In [112]:
protein_zero_FC_prot_set = prot_set[prot_set.proteins.isin(protein_in_all_samples)]

In [113]:
protein_zero_FC_prot_set.groupby("proteins").expression.std()

proteins
A1L0T0_HUMAN    0.415678
A6NDU8_HUMAN    0.206407
O00115_HUMAN    0.116734
O00151_HUMAN    0.090893
O00161_HUMAN    0.079963
                  ...
Q9Y4Y9_HUMAN    0.131697
Q9Y570_HUMAN    0.064442
Q9Y5L0_HUMAN    0.143523
Q9Y5Q8_HUMAN    0.436116
Q9Y6M9_HUMAN    0.122412
Name: expression, Length: 289, dtype: float64

In [114]:
protein_zero_FC_prot_set

,feature,sample,expression,proteins,human,yeas8,ecoli,decoy,CV.X002.Pedro,CV.X003.Pedro,CV.X004.Pedro,CV.X005.Pedro,CV.X006.Pedro,CV.X007.Pedro,condition
1,A1L0T0_HUMAN_HUMAN,X002.Pedro,6.879810,A1L0T0_HUMAN,True,False,False,False,0.168426,0.120825,0.107955,0.098989,0.072970,0.089025,1
5,A6NDU8_HUMAN_HUMAN,X002.Pedro,6.741830,A6NDU8_HUMAN,True,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,1
9,O00115_HUMAN_HUMAN,X002.Pedro,8.022499,O00115_HUMAN,True,False,False,False,0.018273,0.009290,0.043104,0.004316,0.018743,0.009530,1
10,O00151_HUMAN_HUMAN,X002.Pedro,5.814543,O00151_HUMAN,True,False,False,False,0.062449,0.041272,0.027299,0.024241,0.038986,0.027387,1
13,O00161_HUMAN_HUMAN,X002.Pedro,7.404955,O00161_HUMAN,True,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17280,Q9Y4Y9_HUMAN_HUMAN,X007.Pedro,6.907347,Q9Y4Y9_HUMAN,True,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,2
17283,Q9Y570_HUMAN_HUMAN,X007.Pedro,7.358362,Q9Y570_HUMAN,True,False,False,False,0.007700,0.016590,0.010478,0.014628,0.019016,0.009908,2
17287,Q9Y5L0_HUMAN_HUMAN,X007.Pedro,5.887437,Q9Y5L0_HUMAN,True,False,False,False,0.038235,0.014840,0.034453,0.035391,0.057731,0.007068,2
17290,Q9Y5Q8_HUMAN_HUMAN,X007.Pedro,5.126354,Q9Y5Q8_HUMAN,True,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,2
17301,Q9Y6M9_HUMAN_HUMAN,X007.Pedro,7.777584,Q9Y6M9_HUMAN,True,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,2

In [117]:
df[df.proteins.isin(protein_in_all_samples)]

,proteins,contrast,logFC,sigma_contrast,se,t,pvalue,qvalue
22,Q9H0B3_HUMAN,condition2-condition1,0.0,1.414214e-09,1.484867e-09,0.0,1.0,1.0
28,Q8TC07_HUMAN,condition2-condition1,0.0,1.414214e-09,5.891541e-11,0.0,1.0,1.0
44,Q9NS69_HUMAN,condition2-condition1,0.0,1.414214e-09,2.554554e-10,0.0,1.0,1.0
69,Q9Y5Q8_HUMAN,condition2-condition1,0.0,1.414214e-09,5.263101e-10,0.0,1.0,1.0
100,Q3LXA3_HUMAN,condition2-condition1,0.0,1.414214e-09,1.181520e-10,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...
3222,O60669_HUMAN,condition2-condition1,0.0,1.414214e-09,5.565304e-10,0.0,1.0,1.0
3223,P05114_HUMAN,condition2-condition1,0.0,1.414214e-09,8.307704e-10,0.0,1.0,1.0
3232,Q13427_HUMAN,condition2-condition1,0.0,1.414214e-09,2.936525e-10,0.0,1.0,1.0
3240,Q99757_HUMAN,condition2-condition1,0.0,1.414214e-09,2.112752e-10,0.0,1.0,1.0
3247,Q8TAA9_HUMAN,condition2-condition1,0.0,1.414214e-09,7.352298e-10,0.0,1.0,1.0

In [121]:
protein_zero_FC_prot_set[protein_zero_FC_prot_set.proteins == "Q8TC07_HUMAN"]

,feature,sample,expression,proteins,human,yeas8,ecoli,decoy,CV.X002.Pedro,CV.X003.Pedro,CV.X004.Pedro,CV.X005.Pedro,CV.X006.Pedro,CV.X007.Pedro,condition
2342,Q8TC07_HUMAN_HUMAN,X002.Pedro,6.476558,Q8TC07_HUMAN,True,False,False,False,0.012702,0.030434,0.08007,0.025368,0.01537,0.051766,1
5239,Q8TC07_HUMAN_HUMAN,X003.Pedro,6.528136,Q8TC07_HUMAN,True,False,False,False,0.012702,0.030434,0.08007,0.025368,0.01537,0.051766,2
7994,Q8TC07_HUMAN_HUMAN,X004.Pedro,6.252820,Q8TC07_HUMAN,True,False,False,False,0.012702,0.030434,0.08007,0.025368,0.01537,0.051766,1
10923,Q8TC07_HUMAN_HUMAN,X005.Pedro,6.456006,Q8TC07_HUMAN,True,False,False,False,0.012702,0.030434,0.08007,0.025368,0.01537,0.051766,2
13828,Q8TC07_HUMAN_HUMAN,X006.Pedro,6.488471,Q8TC07_HUMAN,True,False,False,False,0.012702,0.030434,0.08007,0.025368,0.01537,0.051766,1
16752,Q8TC07_HUMAN_HUMAN,X007.Pedro,6.581753,Q8TC07_HUMAN,True,False,False,False,0.012702,0.030434,0.08007,0.025368,0.01537,0.051766,2

In [120]:
prot_set

,feature,sample,expression,proteins,human,yeas8,ecoli,decoy,CV.X002.Pedro,CV.X003.Pedro,CV.X004.Pedro,CV.X005.Pedro,CV.X006.Pedro,CV.X007.Pedro,condition
0,A0A1W2PP97_HUMAN_HUMAN,X002.Pedro,8.880416,A0A1W2PP97_HUMAN,True,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,1
1,A1L0T0_HUMAN_HUMAN,X002.Pedro,6.879810,A1L0T0_HUMAN,True,False,False,False,0.168426,0.120825,0.107955,0.098989,0.072970,0.089025,1
2,A5YKK6_HUMAN_HUMAN,X002.Pedro,6.383834,A5YKK6_HUMAN,True,False,False,False,0.029266,0.037492,0.029583,0.034987,0.064953,0.084903,1
3,A5Z2X5_YEAST_YEAST,X002.Pedro,8.185729,A5Z2X5_YEAST,False,True,False,False,0.027355,0.025008,0.017637,0.036513,0.002268,0.037731,1
4,A6NDG6_HUMAN_HUMAN,X002.Pedro,7.870140,A6NDG6_HUMAN,True,False,False,False,0.003959,0.013291,0.005973,0.005701,0.017703,0.012322,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17297,Q9Y697_HUMAN_HUMAN,X007.Pedro,4.964100,Q9Y697_HUMAN,True,False,False,False,0.051350,0.060488,0.032272,0.006976,0.044612,0.034333,2
17298,Q9Y6A9_HUMAN_HUMAN,X007.Pedro,7.086636,Q9Y6A9_HUMAN,True,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,2
17299,Q9Y6C9_HUMAN_HUMAN,X007.Pedro,8.581759,Q9Y6C9_HUMAN,True,False,False,False,0.168601,0.059102,0.133249,0.052153,0.059160,0.080531,2
17300,Q9Y6E2_HUMAN_HUMAN,X007.Pedro,6.563036,Q9Y6E2_HUMAN,True,False,False,False,0.011212,0.010202,0.020103,0.019328,0.024534,0.046660,2
17301,Q9Y6M9_HUMAN_HUMAN,X007.Pedro,7.777584,Q9Y6M9_HUMAN,True,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,2

In [122]:
prot_set[prot_set.proteins == "A5Z2X5_YEAST"]

,feature,sample,expression,proteins,human,yeas8,ecoli,decoy,CV.X002.Pedro,CV.X003.Pedro,CV.X004.Pedro,CV.X005.Pedro,CV.X006.Pedro,CV.X007.Pedro,condition
3,A5Z2X5_YEAST_YEAST,X002.Pedro,8.185729,A5Z2X5_YEAST,False,True,False,False,0.027355,0.025008,0.017637,0.036513,0.002268,0.037731,1
2897,A5Z2X5_YEAST_YEAST,X003.Pedro,7.128948,A5Z2X5_YEAST,False,True,False,False,0.027355,0.025008,0.017637,0.036513,0.002268,0.037731,2
5781,A5Z2X5_YEAST_YEAST,X004.Pedro,8.245972,A5Z2X5_YEAST,False,True,False,False,0.027355,0.025008,0.017637,0.036513,0.002268,0.037731,1
8535,A5Z2X5_YEAST_YEAST,X005.Pedro,7.136836,A5Z2X5_YEAST,False,True,False,False,0.027355,0.025008,0.017637,0.036513,0.002268,0.037731,2
11475,A5Z2X5_YEAST_YEAST,X006.Pedro,8.157589,A5Z2X5_YEAST,False,True,False,False,0.027355,0.025008,0.017637,0.036513,0.002268,0.037731,1
14377,A5Z2X5_YEAST_YEAST,X007.Pedro,7.176604,A5Z2X5_YEAST,False,True,False,False,0.027355,0.025008,0.017637,0.036513,0.002268,0.037731,2

In [124]:
df[df.proteins == "A5Z2X5_YEAST"]

,proteins,contrast,logFC,sigma_contrast,se,t,pvalue,qvalue
2849,A5Z2X5_YEAST,condition2-condition1,-1.088307,0.81616,0.03809,-28.572132,2.892388e-07,0.000003

In [125]:
df[df.proteins == "P0ABC7_ECOLI"]

,proteins,contrast,logFC,sigma_contrast,se,t,pvalue,qvalue
86,P0ABC7_ECOLI,condition2-condition1,1.32285,0.815521,0.061254,21.59625,0.000001,0.000008